<div class="max-w-4xl max-sm:max-w-xl mx-auto p-5">
  <form [formGroup]="organizationAddressForm" autocomplete="off">
    <div class="grid sm:grid-cols-2 gap-5">
      <div class="sm:col-span-2">
        <div>
          <p-iftalabel class="w-full">
            <p-select
              [options]="countries"
              formControlName="country"
              optionLabel="name"
              optionValue="name"
              [filter]="true"
              filterBy="name"
              [showClear]="true"
              inputId="country"
              [virtualScroll]="true"
              [virtualScrollItemSize]="38"
              placeholder="Select a Country"
              class="w-full md:w-56"
              [ngClass]="{
                'border-2 border-red-500':
                  f['country'].invalid && f['country'].touched
              }"
            >
              <ng-template #selectedItem let-selectedOption>
                <div class="flex items-center gap-2">
                  <div>
                    {{ selectedOption.name }}
                  </div>
                </div>
              </ng-template>
              <ng-template let-country #item>
                <div class="flex items-center gap-2">
                  <div>{{ country.name }}</div>
                </div>
              </ng-template>
            </p-select>
            <label for="country">Country </label>
          </p-iftalabel>
          <div class="min-h-[4vh]">
            <span
              class="text-red-600 text-sm"
              *ngIf="f['country'].invalid && f['country'].touched"
              >{{ f['country'].errors | formErrors : 'country' }}</span
            >
          </div>
        </div>
      </div>
      <div class="sm:col-span-2">
        <div>
          <p-iftalabel class="w-full">
            <p-select
              [options]="states"
              formControlName="provinceState"
              optionLabel="name"
              optionValue="name"
              [filter]="true"
              filterBy="name"
              [showClear]="true"
              [virtualScroll]="true"
              [virtualScrollItemSize]="38"
              inputId="provinceState"
              [disabled]="!selectedCountry"
              placeholder="Select a State/Province"
              class="w-full md:w-56"
              [ngClass]="{
                'border-2 border-red-500':
                  f['provinceState'].invalid && f['provinceState'].touched
              }"
            >
              <ng-template #selectedItem let-selectedOption>
                <div class="flex items-center gap-2">
                  <div>
                    {{ selectedOption.name }}
                  </div>
                </div>
              </ng-template>
              <ng-template let-state #item>
                <div class="flex items-center gap-2">
                  <div>{{ state.name }}</div>
                </div>
              </ng-template>
            </p-select>
            <label for="provinceState">State</label>
          </p-iftalabel>
          <div class="min-h-[4vh]">
            <span
              class="text-red-600 text-sm"
              *ngIf="f['provinceState'].invalid && f['provinceState'].touched"
              >{{
                f['provinceState'].errors | formErrors : 'provinceState'
              }}</span
            >
          </div>
        </div>
      </div>
      <div class="sm:col-span-2">
        <div>
          <p-iftalabel class="w-full">
            <p-select
              [options]="cities"
              formControlName="city"
              optionLabel="name"
              optionValue="name"
              [filter]="true"
              filterBy="name"
              [showClear]="true"
              inputId="city"
              [virtualScroll]="true"
              [virtualScrollItemSize]="38"
              [disabled]="!selectedCountry || !selectedState"
              placeholder="Select a City"
              class="w-full md:w-56"
              [ngClass]="{
                'border-2 border-red-500':
                  f['city'].invalid && f['city'].touched
              }"
            >
              <ng-template #selectedItem let-selectedOption>
                <div class="flex items-center gap-2">
                  <div>
                    {{ selectedOption.name }}
                  </div>
                </div>
              </ng-template>
              <ng-template let-city #item>
                <div class="flex items-center gap-2">
                  <div>{{ city.name }}</div>
                </div>
              </ng-template>
            </p-select>
            <label for="city">City</label>
          </p-iftalabel>
          <div class="min-h-[4vh]">
            <span
              class="text-red-600 text-sm"
              *ngIf="f['city'].invalid && f['city'].touched"
              >{{ f['city'].errors | formErrors : 'city' }}</span
            >
          </div>
        </div>
      </div>
      <div class="sm:col-span-2">
        <div>
          <p-floatlabel variant="in">
            <input
              pInputText
              id="postalCode"
              formControlName="postalCode"
              type="text"
              class="w-full"
              pTooltip="{{
                f['postalCode'].errors | formErrors : 'postalCode'
              }}"
              tooltipStyleClass="error-tooltip"
              [tooltipDisabled]="
                !(f['postalCode'].invalid && f['postalCode'].touched)
              "
              [ngClass]="{
                'border-2 border-red-500':
                  f['postalCode'].invalid && f['postalCode'].touched
              }"
            />
            <label for="postalCode">Postal Code</label>
          </p-floatlabel>
        </div>
      </div>
      <div class="sm:col-span-2">
        <div>
          <p-floatlabel variant="in">
            <input
              pInputText
              id="street"
              formControlName="street"
              type="text"
              class="w-full"
              pTooltip="{{ f['street'].errors | formErrors : 'street' }}"
              tooltipStyleClass="error-tooltip"
              [tooltipDisabled]="!(f['street'].invalid && f['street'].touched)"
              [ngClass]="{
                'border-2 border-red-500':
                  f['street'].invalid && f['street'].touched
              }"
            />
            <label for="street">Street</label>
          </p-floatlabel>
        </div>
      </div>
    </div>
  </form>
  <ng-content></ng-content>
</div>
