<div
  class="m-0 overflow-y-auto mt-4"
  infiniteScroll
  [infiniteScrollDistance]="0.8"
  [infiniteScrollThrottle]="400"
  (scrolled)="onScroll()"
  [infiniteScrollContainer]="getScrollContainer()"
>
  <p-dataview #dv [value]="events" layout="grid" [emptyMessage]="emptyMessage">
    <ng-template #grid let-events>
      <div class="grid grid-cols-12 gap-3 sm:gap-1 md:gap-3">
        <div
          *ngFor="let event of events"
          class="col-span-12 sm:col-span-12 md:col-span-6 lg:col-span-6 xl:col-span-4 2xl:col-span-3"
          [ngClass]="
            isFullWidth
              ? 'col-span-12 sm:col-span-12 md:col-span-6 lg:col-span-6 xl:col-span-3 2xl:col-span-2'
              : 'col-span-12 sm:col-span-12 md:col-span-6 lg:col-span-6 xl:col-span-4 2xl:col-span-3'
          "
        >
          <app-event-item-grid
            [event]="event"
            (eventClickChanged)="onClickEvent($event)"
          >
          </app-event-item-grid>
        </div>
      </div>
    </ng-template>
  </p-dataview>
  <div class="grid grid-cols-12 gap-4" *ngIf="loading">
    <div
      *ngFor="let i of counterArray(); let first = first"
      class="col-span-12 sm:col-span-12 md:col-span-6 lg:col-span-6 xl:col-span-4 2xl:col-span-3"
      [ngClass]="
        isFullWidth
          ? 'col-span-12 sm:col-span-12 md:col-span-6 lg:col-span-6 xl:col-span-3 2xl:col-span-2'
          : 'col-span-12 sm:col-span-12 md:col-span-6 lg:col-span-6 xl:col-span-4 2xl:col-span-3'
      "
    >
      <app-event-item-grid-skeleton></app-event-item-grid-skeleton>
    </div>
  </div>
</div>
