<div
  class="space-y-6"
  [ngClass]="{
    'text-sm': textSize === 'small'
  }"
>
  <div *ngIf="address">
    <h2
      class="text-lg font-medium text-purple-700 mb-3"
      *ngIf="showTitleHeader"
    >
      Address:
      <ng-content select="[edit-organization-address]"></ng-content>
    </h2>
    <div class="mt-2 flex items-center">
      <span class="pi pi-home mr-2"></span>
      <span class="text-muted-color">
        {{
          (address?.street || '') +
            (address?.street ? ' ' : '') +
            (address?.city || '') +
            (address?.city ? ' ' : '') +
            (address?.provinceState || '') +
            (address?.provinceState ? ', ' : '') +
            (address?.postalCode || '') +
            (address?.postalCode ? ', ' : '') +
            (address?.country || '')
        }}
      </span>
    </div>
  </div>

  <div>
    <h2
      class="text-lg font-medium text-purple-700 mb-3"
      *ngIf="showTitleHeader"
    >
      Contact Details:
      <ng-content select="[edit-organization-contact-details]"></ng-content>
    </h2>
    <div class="mt-2 flex items-center" *ngIf="phoneNumber">
      <span class="pi pi-phone mr-2"></span>
      <span class="text-muted-color">
        {{ phoneNumber }}
      </span>
    </div>
    <div class="mt-2 flex items-center" *ngIf="email && showEmail">
      <span class="pi pi-envelope mr-2"></span>
      <span class="text-muted-color">
        {{ email }}
      </span>
    </div>
    <div class="mt-2 flex items-center" *ngIf="websiteUrl">
      <span class="pi pi-globe mr-2"></span>
      <span class="text-muted-color">
        {{ websiteUrl }}
      </span>
    </div>
  </div>
  <div *ngIf="showMembership">
    <h2
      class="text-lg font-medium text-purple-700 mb-3"
      *ngIf="showTitleHeader"
    >
      Membership:
      <ng-content select="[edit-organization-contact-details]"></ng-content>
    </h2>
    <div class="mt-2 flex items-center" *ngIf="membership?.membershipStatus">
      <span class="pi pi-users mr-2"></span>
      <span class="text-muted-color">
        {{ membership?.membershipStatus?.name }}
      </span>
    </div>
    <div class="mt-2 flex items-center" *ngIf="membership?.membershipType">
      <span class="pi pi-credit-card mr-2"></span>
      <span class="text-muted-color">
        {{ membership?.membershipType?.name }}
      </span>
    </div>
    <div class="mt-2 flex items-center" *ngIf="membership?.role">
      <span class="pi pi-user mr-2"></span>
      <span class="text-muted-color"> Role: {{ membership?.role?.name }} </span>
    </div>
    <div class="mt-2 flex items-center" *ngIf="membership?.startDate">
      <span class="pi pi-calendar-plus mr-2"></span>
      <span class="text-muted-color">
        Start Date: {{ membership?.startDate | date : 'MMMM d, y' }}
      </span>
    </div>
    <div class="mt-2 flex items-center" *ngIf="membership?.endDate">
      <span class="pi pi-calendar-minus mr-2"></span>
      <span class="text-muted-color">
        Ebd Date: {{ membership?.endDate | date : 'MMMM d, y' }}
      </span>
    </div>
  </div>
</div>
