<div
  class="mx-auto md:max-w-[80%] w-full text-sm sm:text-sm md:text-base !pt-0"
>
  <div
    style="
      position: sticky;
      top: 0;
      z-index: 10;
      background: white;
      margin-top: 0;
    "
    class="!pt-0 !mt-0"
  >
    <form
      [formGroup]="filterForm"
      autocomplete="off"
      class="flex flex-col md:flex-wrap lg:flex-row md:justify-left sm:py-4 md:py-2 gap-2 sm:gap-2 md:gap-4 text-sm sm:text-sm md:text-base"
    >
      <div class="w-full md:w-auto lg:w-auto">
        <p-floatlabel variant="in">
          <input
            pInputText
            id="name"
            formControlName="name"
            autocomplete="off"
            class="w-full h-9 md:h-11"
          />
          <label for="name">Search by name</label>
        </p-floatlabel>
      </div>

      <!-- Date Range -->
      <div class="w-full md:w-auto lg:w-auto">
        <p-floatlabel variant="in">
          <p-datepicker
            inputId="dateRange"
            formControlName="dateRange"
            showIcon
            iconDisplay="input"
            dateFormat="yy-mm-dd"
            selectionMode="range"
            [showClear]="true"
            styleClass="w-full h-9 md:h-11"
          />
          <label for="dateRange">Filter by Date</label>
        </p-floatlabel>
      </div>
      <div class="flex xs:flex-row sm:flex-row gap-4 event-place">
        <div class="w-full xs:w-1/2 sm:w-1/2 md:w-56">
          <p-floatlabel class="w-full md:w-56" variant="in">
            <p-select
              formControlName="country"
              inputId="country"
              [options]="countries"
              optionLabel="label"
              optionValue="value"
              [showClear]="true"
              styleClass="w-full h-9 sm:h-9 md:h-11 text-sm sm:text-sm md:text-base"
              variant="filled"
            />
            <label for="country">Filter by country</label>
          </p-floatlabel>
        </div>
        <div class="w-full xs:w-1/2 sm:w-1/2 md:w-56">
          <p-floatlabel class="w-full md:w-56" variant="in">
            <p-select
              [options]="cities"
              formControlName="city"
              inputId="city"
              optionLabel="label"
              optionValue="value"
              [showClear]="true"
              styleClass="w-full h-9 sm:h-9 md:h-11 text-sm sm:text-sm md:text-base"
              variant="filled"
            />
            <label for="city">Filter by city</label>
          </p-floatlabel>
        </div>
      </div>
    </form>
  </div>
  <app-event-list
    [organizationId]="organizationId"
    [filterValue]="filterValue"
  ></app-event-list>
</div>
