<div
  class="text-sm sm:text-sm md:text-base flex flex-col items-center justify-center px-4 py-6 space-y-6 w-[80vw] h-[60vh] sm:w-[80vw] sm:w-[60vh] md:w-[70vw] md:h-[60vh] lg:w-[45vw] lg:h-[60vh] xl:w-[30vw] xl:h-[60vh]"
>
  <!-- Member Details -->
  <div class="w-full max-w-lg flex justify-center">
    <div>
      <p-listbox [options]="memberships" [group]="true" class="w-full md:w-56">
        <ng-template let-group #group>
          <div class="flex items-center">
            <app-member-details [member]="group?.member"></app-member-details>
          </div>
        </ng-template>
      </p-listbox>
    </div>
  </div>

  <!-- Membership Type Dropdown -->
  <div class="text-center">
    <p>Choose a type of membership for these requests</p>
  </div>
  <div class="w-full max-w-xs flex justify-center">
    <p-select
      [options]="membershipTypes"
      [(ngModel)]="selectedMembershipType"
      optionLabel="name"
      placeholder="Choose membership"
      [showClear]="true"
      class="w-full"
    />
  </div>

  <!-- Buttons -->
  <div class="w-full max-w-lg flex justify-center space-x-4">
    <p-button
      label="Approve"
      icon="pi pi-check"
      size="small"
      [raised]="true"
      [rounded]="true"
      class="mb-2"
      [disabled]="!selectedMembershipType"
      (onClick)="onApproveJoinRequests()"
    />
    <p-button
      label="Deny"
      icon="pi pi-times"
      size="small"
      [raised]="true"
      [rounded]="true"
      severity="danger"
      class="mb-2"
      (onClick)="onDenyJoinRequests()"
    />
    <p-button
      label="Cancel"
      size="small"
      severity="secondary"
      [raised]="true"
      [rounded]="true"
      (onClick)="onCancelApproveJoinRequests()"
    />
  </div>
  <div class="w-full max-w-lg flex justify-center space-x-4">
    <p-button
      label="Delete these requests?"
      size="small"
      [raised]="true"
      [rounded]="true"
      severity="danger"
      class="mb-2"
      variant="text"
      styleClass="text-xs"
      (onClick)="onDeleteJoinRequests($event)"
    />
  </div>
</div>
