<section class="bg-gray-50 dark:bg-gray-900 login-background min-h-screen">
  <div class="flex items-center justify-center px-6 py-8 mx-auto h-screen">
    <div class="choose-organization-listbox text-center" *ngIf="!loading">
      <h1
        class="text-base mb-5 font-semibold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white"
      >
        Choose an organization you want to login
      </h1>
      <p-listbox
        [options]="organizations"
        [(ngModel)]="selectedOrganization"
        optionLabel="name"
        styleClass="w-full min-w-[90vw] md:min-w-[250px] max-h-[60vh] "
        scrollHeight="50vh"
        [filter]="true"
        (onChange)="onSelectOrganization($event)"
      >
        <ng-template let-organization #item>
          <div class="flex items-center gap-2">
            <img class="w-10 h-10" [src]="organization.logoUrl" alt="logo" />
            <div>{{ organization.name }}</div>
          </div>
        </ng-template>
      </p-listbox>
    </div>
    <div
      class="choose-organization-listbox-skeleton text-center justify-center"
      *ngIf="loading"
    >
      <div class="w-[90vw] sm:w-[90vw] md:w-[32vw] justify-center">
        <p-skeleton width="100%" height="3rem"></p-skeleton>
      </div>

      <p-card styleClass="w-[90vw] sm:w-[90vw] md:w-[32vw] mt-4">
        <div class="w-[80vw] sm:w-[80vw] md:w-[28vw]">
          <div
            *ngFor="let item of [1, 2, 3, 4, 5]"
            class="flex items-center gap-2 p-2"
          >
            <p-skeleton shape="circle" size="2.5rem"></p-skeleton>
            <p-skeleton
              width="100%"
              height="1.5rem"
              class="flex-1"
            ></p-skeleton>
          </div>
        </div>
      </p-card>
    </div>
  </div>
</section>
