.avatar-container {
    position: relative;
    display: flex; /* Ensure it's a flex container */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    width: fit-content;
    height: fit-content; 
}

.box-shadow-avatar{
    box-shadow: 0 10px 20px 20px #6c93001a;
}

.image-container {
    z-index: 1;
    border-radius: 50%;
    background-color: #fff;
    background-position: center;
    background-size: cover;

    &.avatar-placeholder{
        background-image: url('/assets/blank-profile-picture.jpg');
    }

}

.image-container.cover-photo {
    border-radius: 0;

    &.avatar-placeholder{
        background-image: url('/assets/default-cover-photo.jpg');
    }
}

.upload-photo-button {
    input[type='file'] {
        display: none;
    } 
}

.icon-wrapper {
    position: absolute;
    height: 40px;
    width: 40px;
    padding: .35rem;
    background-color:#2962FF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    bottom: 0;
    z-index: 2;
    color: white;
    cursor: pointer;

    &:hover {
        transition: all .25s;
        background-color: darken(#2962FF, 15%);
    }

    .icon {
        color: white;
    }

    label {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    input[type='file'] {
        display: none;
    }
}