<p-card
  styleClass="p-3 max-w-full mx-auto my-5 relative organization-description-card"
>
  <app-organization-description [organization]="organization" *ngIf="!loading">
    <div class="flex justify-end" *ngIf="!loading">
      <p-button
        *ngIf="isEditAllowed"
        label="Edit"
        icon="pi pi-pencil"
        styleClass="ml-1 py-1"
        severity="info"
        size="small"
        (click)="goToEditOrganizationDescription()"
      />
    </div>
  </app-organization-description>
  <app-description-skeleton *ngIf="loading"></app-description-skeleton>
</p-card>
<p-card>
  <app-contact-details
    [showTitleHeader]="true"
    [address]="organization?.organizationAddress"
    [email]="organization?.email"
    [showEmail]="true"
    [phoneNumber]="organization?.phoneNumber"
    [websiteUrl]="organization?.websiteUrl"
    *ngIf="!loading"
  >
    <p-button
      edit-organization-address
      *ngIf="isEditAllowed"
      label="Edit"
      icon="pi pi-pencil"
      styleClass="ml-1 py-0"
      severity="info"
      size="small"
      (click)="goToEditOrganizationAddress()"
    />
    <p-button
      edit-organization-contact-details
      *ngIf="isEditAllowed"
      label="Edit"
      icon="pi pi-pencil"
      styleClass="ml-1 py-0"
      severity="info"
      size="small"
      (click)="goToEditOrganizationContactDetails()"
    />
  </app-contact-details>
  <app-contact-details-skeleton
    *ngIf="loading"
    [showTitleHeader]="true"
  ></app-contact-details-skeleton>
</p-card>
