<div class="max-w-4xl max-sm:max-w-lg mx-auto p-5">
  <form [formGroup]="organizationForm" autocomplete="off">
    <div class="grid sm:grid-cols-2 gap-5">
      <!-- Organization Name - Full Width -->
      <div
        class="sm:col-span-2"
        *ngIf="formType === OrganizationFormType.ADD_ORGANIZATION"
      >
        <label class="text-gray-600 text-sm mb-2 block" for="name">
          Organization Name<span class="ml-2 text-red-500 font-semilbold"
            >*</span
          >
        </label>
        <input
          pInputText
          id="name"
          formControlName="name"
          type="text"
          class="w-full"
          pTooltip="{{ f['name'].errors | formErrors : 'name' }}"
          tooltipStyleClass="error-tooltip"
          [tooltipDisabled]="!(f['name'].invalid && f['name'].touched)"
          [ngClass]="{
            'border-2 border-red-500': f['name'].invalid && f['name'].touched
          }"
        />
      </div>

      <!-- Description - Full Width -->
      <div
        class="sm:col-span-2"
        *ngIf="
          formType === OrganizationFormType.ADD_ORGANIZATION ||
          formType === OrganizationFormType.UPDATE_ORGANIZATION_DESCRIPTION
        "
      >
        <label class="text-gray-600 text-sm mb-2 block" for="description">
          Description<span class="ml-2 text-red-500 font-semilbold">*</span>
        </label>
        <div
          class="editor-organization-description"
          [ngClass]="{
            'create-organization-description ':
              f['description'].invalid && f['description'].touched
          }"
          tooltipStyleClass="error-tooltip"
          [tooltipDisabled]="
            !(f['description'].invalid && f['description'].touched)
          "
          pTooltip="{{ f['description'].errors | formErrors : 'description' }}"
        >
          <p-editor formControlName="description" [style]="{ height: '320px' }">
          </p-editor>
        </div>
      </div>

      <!-- Email -->
      <div
        *ngIf="
          formType === OrganizationFormType.ADD_ORGANIZATION ||
          formType === OrganizationFormType.UPDATE_ORGANIZATION_CONTACT_DETAILS
        "
      >
        <label class="text-gray-600 text-sm mb-2 block" for="email">
          Email
        </label>
        <input
          pInputText
          id="email"
          formControlName="email"
          type="text"
          class="w-full"
          pTooltip="{{ f['email'].errors | formErrors : 'email' }}"
          tooltipStyleClass="error-tooltip"
          [tooltipDisabled]="!(f['email'].invalid && f['email'].touched)"
          [ngClass]="{
            'border-2 border-red-500': f['email'].invalid && f['email'].touched
          }"
        />
      </div>

      <!-- Phone Number -->
      <div
        *ngIf="
          formType === OrganizationFormType.ADD_ORGANIZATION ||
          formType === OrganizationFormType.UPDATE_ORGANIZATION_CONTACT_DETAILS
        "
      >
        <label class="text-gray-600 text-sm mb-2 block" for="phoneNumber">
          Phone Number
        </label>
        <p-inputnumber
          formControlName="phoneNumber"
          mode="decimal"
          inputId="withoutgrouping"
          [styleClass]="
            f['phoneNumber'].invalid && f['phoneNumber'].touched
              ? 'border-4 border-red-500'
              : ''
          "
          [useGrouping]="false"
          pTooltip="{{ f['phoneNumber'].errors | formErrors : 'phoneNumber' }}"
          tooltipStyleClass="error-tooltip"
          [tooltipDisabled]="
            !(f['phoneNumber'].invalid && f['phoneNumber'].touched)
          "
        />
      </div>

      <!-- Website URL -->
      <div
        class="sm:col-span-2"
        *ngIf="
          formType === OrganizationFormType.ADD_ORGANIZATION ||
          formType === OrganizationFormType.UPDATE_ORGANIZATION_CONTACT_DETAILS
        "
      >
        <label class="text-gray-600 text-sm mb-2 block" for="websiteUrl">
          Website
        </label>
        <input
          pInputText
          id="websiteUrl"
          formControlName="websiteUrl"
          type="text"
          class="w-full"
          pTooltip="{{ f['websiteUrl'].errors | formErrors : 'websiteUrl' }}"
          tooltipStyleClass="error-tooltip"
          [tooltipDisabled]="
            !(f['websiteUrl'].invalid && f['websiteUrl'].touched)
          "
          [ngClass]="{
            'border-2 border-red-500':
              f['websiteUrl'].invalid && f['websiteUrl'].touched
          }"
        />
      </div>
    </div>
    <ng-content></ng-content>
  </form>
</div>
