<div class="max-w-4xl max-sm:max-w-lg mx-auto p-5">
  <form [formGroup]="organizationForm" autocomplete="off">
    <div class="grid sm:grid-cols-2 gap-5">
      <!-- Organization Name - Full Width -->
      <div
        class="sm:col-span-2"
        *ngIf="formType === OrganizationFormType.ADD_ORGANIZATION"
      >
        <p-floatlabel variant="in">
          <input
            pInputText
            id="name"
            formControlName="name"
            autocomplete="off"
            class="w-full"
            [ngClass]="{
              'border-2 border-red-500': f['name'].invalid && f['name'].touched
            }"
          />
          <label for="name">Organization Name</label>
        </p-floatlabel>
        <div class="min-h-[4vh]">
          <span
            class="text-red-600 text-sm"
            *ngIf="f['name'].invalid && f['name'].touched"
            >{{ f['name'].errors | formErrors : 'name' }}</span
          >
        </div>
      </div>

      <!-- Description - Full Width -->
      <div
        class="sm:col-span-2"
        *ngIf="
          formType === OrganizationFormType.ADD_ORGANIZATION ||
          formType === OrganizationFormType.UPDATE_ORGANIZATION_DESCRIPTION
        "
      >
        <label class="text-gray-600 text-sm mb-2 block" for="description">
          Description<span class="ml-2 text-red-500 font-semilbold">*</span>
        </label>
        <div
          class="editor-organization-description"
          [ngClass]="{
            'create-organization-description ':
              f['description'].invalid && f['description'].touched
          }"
        >
          <p-editor formControlName="description" [style]="{ height: '320px' }">
          </p-editor>
        </div>
        <div class="min-h-[4vh]">
          <span
            class="text-red-600 text-sm"
            *ngIf="f['description'].invalid && f['description'].touched"
            >{{ f['description'].errors | formErrors : 'description' }}</span
          >
        </div>
      </div>

      <!-- Email -->
      <div
        *ngIf="
          formType === OrganizationFormType.ADD_ORGANIZATION ||
          formType === OrganizationFormType.UPDATE_ORGANIZATION_CONTACT_DETAILS
        "
      >
        <p-floatlabel variant="in">
          <input
            pInputText
            id="email"
            formControlName="email"
            autocomplete="off"
            class="w-full"
            [ngClass]="{
              'border-2 border-red-500':
                f['email'].invalid && f['email'].touched
            }"
          />
          <label for="email">Email</label>
        </p-floatlabel>
        <div class="min-h-[4vh]">
          <span
            class="text-red-600 text-sm"
            *ngIf="f['email'].invalid && f['email'].touched"
            >{{ f['email'].errors | formErrors : 'email' }}</span
          >
        </div>
      </div>

      <!-- Phone Number -->
      <div
        *ngIf="
          formType === OrganizationFormType.ADD_ORGANIZATION ||
          formType === OrganizationFormType.UPDATE_ORGANIZATION_CONTACT_DETAILS
        "
      >
        <ngx-material-intl-tel-input
          fieldControlName="phoneNumber"
          [autoIpLookup]="true"
          appearance="fill"
          [hidePhoneIcon]="true"
          class="custom-phone-input"
          [ngClass]="{
            'border-2 border-red-500':
              f['phoneNumber'].invalid && f['phoneNumber'].touched
          }"
        >
        </ngx-material-intl-tel-input>
        <div class="min-h-[4vh]">
          <span class="text-red-600 text-sm">
            {{ f['phoneNumber'].errors | formErrors : 'phoneNumber' }}
          </span>
        </div>
      </div>
      <!-- Website URL -->
      <div
        class="sm:col-span-2"
        *ngIf="
          formType === OrganizationFormType.ADD_ORGANIZATION ||
          formType === OrganizationFormType.UPDATE_ORGANIZATION_CONTACT_DETAILS
        "
      >
        <p-floatlabel variant="in">
          <input
            pInputText
            id="websiteUrl"
            formControlName="websiteUrl"
            autocomplete="off"
            class="w-full"
            [ngClass]="{
              'border-2 border-red-500':
                f['websiteUrl'].invalid && f['websiteUrl'].touched
            }"
          />
          <label for="websiteUrl">Website</label>
        </p-floatlabel>
        <div class="min-h-[4vh]">
          <span
            class="text-red-600 text-sm"
            *ngIf="f['websiteUrl'].invalid && f['websiteUrl'].touched"
            >{{ f['websiteUrl'].errors | formErrors : 'websiteUrl' }}</span
          >
        </div>
      </div>
    </div>
    <ng-content></ng-content>
  </form>
</div>
