<div class="event-attendance-chart">
  <div class="w-[90%] sm:w-[90%] md:w-[75%] mx-auto">
    <p-chart
      *ngIf="!loading"
      type="bar"
      [data]="data"
      [options]="options"
      class="h-[20rem] w-full"
    ></p-chart>
    <p-skeleton styleClass="h-full" height="50vh" *ngIf="loading"></p-skeleton>
  </div>
</div>
<div class="event-attendance-chart">
  <div class="w-[90%] sm:w-[90%] md:w-[75%] mx-auto pt-2">
    <app-event-attendance-summary
      *ngIf="!loading"
      [eventAttendanceSummaries]="eventAttendanceSummaries"
    ></app-event-attendance-summary>
    <p-skeleton
      styleClass="h-full mt-5"
      height="30vh"
      *ngIf="loading"
    ></p-skeleton>
  </div>
</div>
