<app-loader></app-loader>
<router-outlet></router-outlet>
<app-alert></app-alert>
<app-confirm-dialog></app-confirm-dialog>
<!-- <p-floatlabel>
  <input id="username" id="on_label" pInputText [(ngModel)]="value" />
  <label for="username">Username</label>
</p-floatlabel>
<p-inputgroup>
  <p-inputgroup-addon>
    <i class="pi pi-user"></i>
  </p-inputgroup-addon>
  <input pInputText placeholder="email" />
</p-inputgroup>

<p-inputgroup>
  <p-inputgroup-addon>
    <i class="pi pi-user"></i>
  </p-inputgroup-addon>
  <input pInputText placeholder="password" />
</p-inputgroup>

dasdsa
<app-login></app-login>
<p-button label="Login" /> -->
