.login-background {
  background-image: url('/assets/login-background-image.jpg');
  background-size: cover;
  background-position: center;
  height: 2vh; /* Full screen */
}

.p-button .p-button-label {
  padding-left: 1rem; /* Adjust the value to control the indentation */
}

.metallic-blue-gradient {
  background: linear-gradient(
    45deg,
    #999 5%,
    #fff 10%,
    #ccc 30%,
    #ddd 50%,
    #ccc 70%,
    #fff 80%,
    #999 95%
  );
  width: 100%;
  height: 100%;
}
   
// :host ::ng-deep {
//   .p-card-flat {
//     .p-card {
//         border-radius: 0 !important;
//     }
//   }
// }

// :host ::ng-deep {
//   .p-card {
//         border-radius: 0 !important;
//   }
// }

// .app-menu-container {
//   width: 100%;
// }

// .app-menu-bar {
//   position: fixed;
//   top: 0;
//   width: 100%;
//   z-index: 1000;
// }

// /* Move the menu to the bottom on mobile screens */
// @media (max-width: 768px) {
//   .app-menu-bar {
//     top: unset;
//     bottom: 0;
//     width: 100%;
//     border-top: 1px solid #ddd;
//     background: #fff;
//   }
// }
