

:host ::ng-deep {
    .multiselect-status {
        .p-multiselect-label .p-chip {
            padding-top: 0px;
            padding-bottom: 0px;
        }
    }
   
  }

  :host ::ng-deep {
    .export-splitbutton .p-tieredmenu-overlay {
        position: absolute !important; 
        top: 100% !important; 
        left: -0px !important; 
        z-index: 9999; 
    }
}
