<div class="mx-auto md:max-w-[80%] w-full text-sm sm:text-sm md:text-base">
  <app-organization-collapsing-header
    [organization]="organization"
    [isEditAllowed]="isEditAllowed"
    ><ng-content></ng-content
  ></app-organization-collapsing-header>
  <p-tabs value="0" styleClass="organizaion-tab-panels">
    <p-tablist class="sticky-tabs p-0 z-50">
      <p-tab value="0">About Us</p-tab>
      <!-- <p-tab value="1">Events</p-tab>
      <p-tab value="2">Photos</p-tab> -->
      <p-tab value="3" *ngIf="isMyOrganization">Your Membership</p-tab>
    </p-tablist>
    <p-tabpanels>
      <p-tabpanel value="0">
        <app-organization-about-us
          [organization]="organization"
          [isEditAllowed]="isEditAllowed"
        ></app-organization-about-us>
      </p-tabpanel>
      <!-- <p-tabpanel value="1">
        <app-organization-events
          [organization]="organization"
        ></app-organization-events>
      </p-tabpanel>
      <p-tabpanel value="2">
        <app-organization-photos
          [organization]="organization"
        ></app-organization-photos>
      </p-tabpanel> -->
      <p-tabpanel value="3" *ngIf="isMyOrganization">
        <app-organization-membership
          [organization]="organization"
          [membership]="membership"
        ></app-organization-membership>
      </p-tabpanel>
    </p-tabpanels>
  </p-tabs>
</div>
