<div class="max-w-4xl mx-auto p-5">
  <form [formGroup]="organizationMembershipTypesForm" class="w-full mx-auto">
    <div formArrayName="membershipTypes">
      <div
        *ngFor="let membershipType of membershipTypes.controls; let i = index"
        class="flex flex-col md:flex-row md:items-center gap-4 mb-4 p-4 border-b border-gray-300"
      >
        <!-- Membership Remove Button -->
        <div class="flex items-center md:items-top md:mt-4">
          <p-button
            icon="pi pi-times"
            [rounded]="true"
            [raised]="true"
            severity="danger"
            (click)="removeMembershipType(i)"
            [disabled]="membershipTypes.length === 1"
          />
        </div>

        <!-- Form Inputs Grid -->
        <div
          [formGroupName]="i"
          class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 lg:grid-cols-7 gap-4 w-full items-start"
        >
          <!-- Name -->
          <div class="w-full md:col-span-2 lg:col-span-2">
            <p-floatlabel variant="in">
              <input
                pInputText
                id="name"
                formControlName="name"
                autocomplete="off"
                class="w-full"
                [ngClass]="{
                  'border-2 border-red-500':
                    membershipType.get('name')?.invalid &&
                    membershipType.get('name')?.touched
                }"
              />
              <label for="name">Name *</label>
            </p-floatlabel>
            <div class="min-h-[4vh]">
              <span
                class="text-red-600 text-sm"
                *ngIf="
                  membershipType.get('name')?.invalid &&
                  membershipType.get('name')?.touched
                "
                >{{ membershipType.get('name')?.errors?.['required'] ? 'Name is required' : null }}</span
              >
            </div>
          </div>

          <!-- Description -->
          <div class="w-full md:col-span-2 lg:col-span-2">
            <p-floatlabel variant="in">
              <input
                pInputText
                id="description"
                formControlName="description"
                autocomplete="off"
                class="w-full"
                [ngClass]="{
                  'border-2 border-red-500':
                    membershipType.get('description')?.invalid &&
                    membershipType.get('description')?.touched
                }"
              />
              <label for="description">Description *</label>
            </p-floatlabel>
            <div class="min-h-[4vh]">
              <span
                class="text-red-600 text-sm"
                *ngIf="
                  membershipType.get('description')?.invalid &&
                  membershipType.get('description')?.touched
                "
                >{{ membershipType.get('description')?.errors?.['required'] ? 'Description is required' : null }}</span
              >
            </div>
          </div>

          <!-- Validity -->
          <div class="w-full md:col-span-2 lg:col-span-2">
            <p-floatlabel class="w-full" variant="in">
              <p-select
                formControlName="membershipTypeValidity"
                inputId="membershipTypeValidity"
                [options]="membershipTypeValidities"
                optionLabel="name"
                class="w-full"
                [styleClass]="
                  membershipType.get('membershipTypeValidity')?.invalid &&
                  membershipType.get('membershipTypeValidity')?.touched
                    ? 'border-2 border-red-500'
                    : ''
                "
                variant="filled"
              />
              <label for="membershipTypeValidity">Validity *</label>
            </p-floatlabel>
            <div class="min-h-[4vh]">
              <span
                class="text-red-600 text-sm"
                *ngIf="
                  membershipType.get('membershipTypeValidity')?.invalid &&
                  membershipType.get('membershipTypeValidity')?.touched
                "
                >{{ membershipType.get('membershipTypeValidity')?.errors?.['required'] ? 'Validity is required' : null }}</span
              >
            </div>
          </div>

          <!-- Default Radio -->
          <div
            class="w-full md:col-span-2 lg:col-span-1 flex items-center justify-start md:justify-end"
          >
            <div class="field-checkbox">
              <p-radiobutton
                formControlName="isDefault"
                binary="true"
                value="true"
                (change)="setDefaultType(i)"
              ></p-radiobutton>
              <label class="text-gray-600 text-sm ml-2" for="isDefault">
                Default?<span class="ml-2 text-red-500 font-semibold">*</span>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Add Button -->
    <div class="flex justify-center mt-6">
      <p-button
        label="Add Membership Type"
        (click)="addMembershipType()"
        [raised]="true"
        severity="info"
      />
    </div>
  </form>
</div>
