<div *ngIf="event" class="flex items-center space-x-4 p-3">
  <h2 class="text-xl font-medium text-purple-700">
    {{ event?.name }}
  </h2>
  <p
    class="text-sm sm:text-sm md:text-base text-surface-700 dark:text-surface-200"
  >
    {{ event.startEventDate | eventDateRange : event.endEventDate }}
  </p>
  <p-button
    label="Event Details"
    size="small"
    icon="pi pi-calendar"
    severity="info"
    [raised]="true"
    [rounded]="true"
    styleClass="py-1 text-xs sm:text-xs md:text-sm"
    (onClick)="onViewEventDetails(event)"
  />
</div>
