.login-background {
    background-image: url('/assets/login-background-image.jpg');
    background-size: cover;
      background-position: center;
      height: 100vh; /* Full screen */
      width: 100%;
    }
  
  