<div class="flex items-center gap-2">
  <p-avatar
    [image]="eventPicUrl"
    image="https://scontent-bru2-1.xx.fbcdn.net/v/t39.30808-6/468322464_27550249341256083_8260339221376410602_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=6ee11a&_nc_ohc=r9-FOSZ6_d8Q7kNvgHJ1yoU&_nc_zt=23&_nc_ht=scontent-bru2-1.xx&_nc_gid=Ap-onMDZKq5iTFWRSOigh75&oh=00_AYBoCG7u91Xpg9dmK2LW6ly7O2DsQBnzYfXxOVAm2p9vLw&oe=67A82AC4"
    class="mr-2"
    shape="circle"
    size="large"
    *ngIf="showAvatar"
  />
  <div *ngIf="event">
    <p class="m-0 font-bold">
      {{ event?.name }}
    </p>
    <p
      class="text-sm sm:text-sm md:text-base text-surface-700 dark:text-surface-200 italic"
    >
      Date: {{ event.startEventDate | eventDateRange : event.endEventDate }}
    </p>
  </div>
</div>
