<p-drawer
  [(visible)]="visible"
  position="right"
  position="full"
  (onHide)="closeDrawer()"
>
  <ng-template pTemplate="headless">
    <div class="flex flex-col h-full miyembro-background">
      <div class="flex items-center px-6 pt-4 pb-2 shrink-0">
        <p-button
          icon="pi pi-arrow-left"
          severity="success"
          (click)="closeDrawer()"
          styleClass="p-button-rounded mr-2"
        ></p-button>
        <div class="text-center">
          <h2 class="text-lg sm:text-lg md:text-xl font-bold">Create Event</h2>
        </div>
      </div>
      <div class="overflow-y-auto flex-1">
        <div
          class="mx-auto flex flex-col items-center justify-center w-full lg:w-[60%]"
        >
          <app-event-form
            [(eventForm)]="eventForm"
            [formType]="EventFormType.ADD_EVENT"
          ></app-event-form>
        </div>
        <div class="mt-auto shrink-0 p-4">
          <div class="flex justify-center space-x-4">
            <p-button
              (onClick)="cancelCreateEvent()"
              severity="secondary"
              [raised]="true"
              size="small"
              class="text-sm"
            >
              <i class="pi pi-times"></i>
              <span>Cancel</span>
            </p-button>

            <p-button
              (onClick)="createEvent()"
              severity="success"
              [raised]="true"
              size="small"
              class="text-sm"
              [disabled]="eventForm.invalid || eventForm.pristine"
            >
              <i class="pi pi-check"></i>
              <span>Create Event</span>
            </p-button>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</p-drawer>
